<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Create new product</h1>
    <form action="/products/new" method="POST">
        <div>
            <label for="title">Titulo</label><input name="title">
        </div>
        <div>
            <label for="description">Descripción</label><textarea name="description"></textarea>
        </div>
        <div>
            <label for="price">Precio</label><input type="number" name="price">
        </div>
        <div>
            <span>Stock: <input type="number" name="stock"></span>
        </div>
        <button type="submit">Crear</button>
    </form>
    <a href="/products/">Volver</a>
    {{#if message}}
    <h2>{{message}} </h2>
    {{/if}}

    {{#if error}}
    <h2>{{error}}</h2>
    {{/if}}
</body>

</html>